<h1 class='mb-4'>Contact list</h1>
<a href='/contact/add' class='btn btn-primary mb-3'>Add new contact</a>
<table class='table table-bordered'>
	<thead class='table-light'>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>asadbook-dev</td>
			<td>asadbookdev@gmail.com</td>
			<td>934734545</td>
			<td>
				<a href='/contact/edit/123' class='btn btn-warning btn-sm'>Edit</a>
				<a href='/contact/delete/123' class='btn btn-danger btn-sm'>Delete</a>
			</td>
		</tr>
	</tbody>
</table>